<div class="gallery masonry-gallery">
		
{% for image in page.images %}  		

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" class="popup"  title="{{ image.title }}." data-caption="{{ image.material }}, {{ image.dimensions }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						
					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary" id="{{ image.title }}">
							<h3>{{image.title}}</h3>
							<p>
								{{image.material}}
								<br />
								{{image.dimensions}}
							</p>
						</div>
					</figcaption>
				</figure>
				
{% endfor %}

			</div>